body {
	margin: 0;
	padding: 0;
	font-family: 'Julius Sans One', Serif;
	font-size: 18;
}

.nav {
	background-color: #ffffff;
	color: #000000;
	list-style: none;
	text-align: right;
	padding: 20px 0 20px 0;
	display: block;
}

.nav > .logo {
	float: left;
	font-size: 25px;
	padding-left: 25px;
	display: inline;
}

.nav > a {
	text-decoration: none;
	color: #000000;
	padding: 25px;
}

.nav> a:hover {
	color: c1c1c1;
}